*.dll
*.pdb
*.user
*.suo
*.cache
bin/
obj/
.vs/
packages/
BepInExPack_Valheim/
valheim_Data/
MonoBleedingEdge/
ThunderstorePackage/*
!ThunderstorePackage/manifest.json

*.zip
THUNDERSTORE_UPDATE_GUIDE.md
